* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: Josefin Sans, sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.hidden {
  display: none;
}

/* @media (min-width: 600px) {
    .hero-mobile {
        display: none;
    }
}

@media (max-width: 600px) {
    .hero-desktop {
        display: none;
    }
} */
