* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 0.3rem;

  position: relative;
}

.container-inner {
  display: flex;
  gap: 1rem;
}

.desserts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;

  width: 800px;
}

.dessert-item {
  width: 100%;
  justify-self: center;
}

.dessert-image {
  display: block;
  width: 100%;
  border: 3px solid #fff;
}

.cart {
  width: 250px;

  border: 1px solid black;
}

.add-to-cart--btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 30px;
  background-color: brown;

  border-radius: 200px;
  cursor: pointer;
}

.selections {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  /* width: 150px;
  height: 30px;

  background-color: antiquewhite; */
}

.grand-total {
  margin-top: 1rem;
  
  font-size: 1.4rem;
  font-weight: 800;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  width: 600px;
  height: 200px;
  background-color: #000;
  color: #fff;

  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 50%);
}

/* HELPER CLASSES */

.in-cart {
  border: 3px solid brown;
}

.hidden {
  display: none;
}

.blur {
  filter: blur(1px);
}

/* Provisional classes */
.cart > h2, .modal > p  {
  cursor: pointer;
}