@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* .custom-radio {
  margin-top: 6px;
  appearance: none;
  width: 13px;
  height: 13px;
  border: 2px solid #d1d5db;
  border-radius: 50%;
  outline: none;
  transition: background-color 0.2s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.custom-radio:checked {
  background-color: #3b82f6;
  border-color: #d1d5db;
} */

input {
  @apply h-10 sm:h-8;
}

label {
  @apply text-xl sm:text-base;
}
